body {
    background-color: #e5dde6;
    margin: 0;
    padding-right: 50px;
    padding-left: 50px;
    color:white;
}
a{
    text-decoration: none;
    color:white;
}
h1{
    text-align: center;
    font-size: 33px;
}
h2{
    text-align: center;
    font-size: 30px;
}
p{
    color: black;
}
.profile-description{
    text-align: center;
    font-size: 20px;
}
.icon{
    height: 10px;
    width: 15px;
}
.image-profile{
    height: 150px;
    width: 150px;
    border-radius: 15px;
}
#personalData{
    background-color:#c0a0c3;
    border-radius: 25px;
    margin: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
}
#titulo{
    background-color: #8f7193;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 25px;
    border-radius: 25px;
}
#experiencia{
    background-color: #c0a0c3;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 25px;
    border-radius: 25px;
}
#asis{
    color: black;
    text-align: justify; 
    padding-right: 50px;  
}
#pas{
    color: black;
    text-align: justify;
    padding-right: 50px;    
}
#hobbyes{
    background-color: #8f7193;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 25px;
    border-radius: 25px;
}